
 <%= render 'layouts/header' %> 

 
<section class="jobs">
<div class="container">
<div class="page page-table">

    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="fa fa-th"></span> 
          <%= current_admin.email %> </strong></div>
        <table class="table">

          
  <tr>
    <th>Company</th>

    <th>Job</th>

    <th>Referral Fee</th>

    <th>Candidates</th>

  </tr>

  <% @referrals.each do |referral| %>
    <tr>
      <td><%= link_to referral.job.name, "/jobs/#{referral.job.id}" %></td>

      <td><%= link_to referral.job.job_name, "/jobs/#{referral.job.id}" %></td>

      <td><%= referral.job.referral_fee %></td>

      <td><%= link_to referral.referral_name, "/referrals/#{referral.id}" %></td> 
 
      <td><%= referral.status %>
      </td>

     </tr>

    </tr>
  <% end %>

</table>
</div>
</div>
</div>
</div>
</section>

<%= current_admin.id %>
<%= link_to 'New Job', new_job_path %>
 <%= render 'layouts/footer' %> 