<%= render 'layouts/header' %>

<section class="jobs">
  <div class="container">

    <div class="page page-table">
      <div class="panel panel-default">

        <div class="panel-heading"><strong><span class="fa fa-th"></span>
          <%= current_admin.company %> </strong>
          <%= link_to 'Create New Job', new_job_path %>
        </div>

        <div class="panel-heading">
          <div class="form-inline" role="form">
            <%= search_form_for @search, url: admin_path(@admin.id) do |f| %>
              <div class="form-group">
                <%= f.text_field :job_name_or_referral_name_or_status_cont, :placeholder => 'Search' %>
              </div>
              <div class="form-group">
                <%= f.submit "Search" %>
              </div>
            <% end %>
          </div>
        </div>

     <ul class="nav nav-tabs nav-justified">
      <li class="active"><a href="#all-referrals" data-toggle="tab">Referrals</a></li>
      <li class=""><a href="#pending-referrals" data-toggle="tab">
        <% if @hav_ref %>
          <%="Pending Review (#{@pending_count})" %></a>
        <% end %>
        </li>

    </ul>

       <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="all-referrals">
          <%= render 'admins/shared/all_referrals'%>
        </div>
        <div class="tab-pane fade" id="pending-referrals">
          <%= render 'admins/shared/pending_referrals'%>
        </div>
      </div>

      </div>
    </div>
  </div>
</section>
</br>
  <div class="container">
   <% if admin_signed_in? %>
   Signed in as <%= current_admin.company %>. Not you?
   <%= link_to "Sign out", destroy_admin_session_path, :method => :delete %>
   <% else %>
   <%= link_to "Sign up", new_admin_registration_path, class: "btn btn-default btn-lg" %> <%= link_to "sign in", new_admin_session_path, class: "btn btn-default btn-lg" %>
   <% end %>
<%= link_to 'New Job', new_job_path %>
<%= render 'layouts/footer' %>
