<div class="page page-table">
      <div class="panel panel-default">
      <div class="panel-heading">
        <div class="form-inline" role="form">
            <div class="form-group">
              <%= button_to "Invite Users (+)", new_private_invitation_path, :class =>'btn btn-default', :method => :get %>
            </div>
        </div>
      </div>
        <table class="table" id="active-users">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
          </tr>
          <tbody class="page">
            <% @invited_users.each do |invitee| %>
          <tr class="active">
            <td ><%= invitee.first_name %></td>
            <td><%= invitee.last_name %></td>
            <td><%= invitee.email %></td>
            <td><%=link_to "Remove", private_invitation_path(private_invitation_id: invitee.id), :method => :delete %> </td>
          </tr>
          <% end %>


          </tbody>
        </table>
      </div>
    </div>