
    <div class="page page-table">
      <div class="panel panel-default">
      <div class="panel-heading"><strong><span class="fa fa-th"></span>
        Requested Referrals</strong>
      </div>
        <table class="table" id="received-referrals">
          <thead>
          <tr>
            <th>Company</th>
            <th>Job</th>
            <th>Status</th>
            <th>Date Requested</th>
            <th>Requester</th>
          </tr>
          </thead>
          <tbody class="page">
            <% @ask_referrals.each do |referral| %>
          <tr class="received">
            <td><%= link_to referral.job.name, job_path(referral.job.id), class: "#{referral.is_interested}-stat" %></td>
            <td><%= link_to referral.job.job_name, job_path(referral.job.id), class: "#{referral.is_interested}-stat" %></td>
            <!-- need to change the way class is entered -->
            <td class="#{referral.is_interested}-stat"><%= referral.status.titleize %></td>
            <td class="#{referral.is_interested}-stat"><%= time_ago_in_words(referral.created_at) %></td>
            <td class="#{referral.is_interested}-stat"><%="#{referral.user.first_name.titleize} #{referral.user.last_name.titleize}"%></td>
            <td><%= link_to "Review Job", job_path(referral.job.id), class: "btn btn-primary"%>
            <%= link_to "Delete Request", referral, :method => :delete, class: "btn btn-primary"%>
            </td>
          </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>