<div class="page page-table">
      <div class="panel panel-default">
      <div class="panel-heading"><strong><span class="fa fa-th"></span>
        Received Referrals</strong>

      </div>
        <table class="table">
          <tr>
            <th>Company</th>
            <th>Job</th>
            <th>Status</th>
            <th>Last Update</th>
            <th>Interested?</th>
          </tr>
          <tbody class="page">
            <% @received_referrals.each do |referral| %>
          <tr class="received">
            <td><%= link_to referral.job.name, edit_referral_path(referral.id), class: "#{referral.is_interested}-stat" %></td>
            <td><%= link_to referral.job.job_name, edit_referral_path(referral.id), class: "#{referral.is_interested}-stat" %></td>
            <!-- need to change the way class is entered -->
            <td class="#{referral.is_interested}-stat"><%= referral.status.titleize %></td>
            <td class="#{referral.is_interested}-stat"><%= time_ago_in_words(referral.updated_at) %></td>
            <td><%= link_to "#{translate_boolean(referral.is_interested)}", edit_referral_path(referral.id), class: "#{referral.is_interested}-stat" %></td>
            <td><%= link_to "Update", edit_referral_path(referral.id), class: "btn btn-primary"%> </td>
          </tr>
          <% end %>


          </tbody>
        </table>
      </div>
    </div>