<div class="page page-table">
  <div class="panel panel-default">
  <div class="panel-heading"><strong><span class="fa fa-th"></span>
    <% current_user.email %> Sent Referrals</strong>
    <%= link_to 'View Jobs', jobs_path %>
  </div>
    <table class="table">
      <tr>
        <th>Company</th>
        <th>Job</th>
        <th>Candidate</th>
        <th>Referral Fee</th>
        <th>Last Updated</th>
        <th>Status</th>
      </tr>
      <% @sent_referrals.each do |referral| %>
      <tr>
        <td><%= link_to referral.job.name, job_path(referral.job.id), class: "#{referral.status}-stat" %></td>
        <td><%= link_to referral.job.job_name, job_path(referral.job.id), class: "#{referral.status}-stat" %></td>

        <td><%= link_to referral.referral_name, referral_path(referral.id) %></td>
        <!-- need to change the way class is entered -->
        <td class="#{referral.is_interested}-stat"><%= referral.job.referral_fee %></td>
        <td class="#{referral.is_interested}-stat"><%= time_ago_in_words(referral.updated_at) %></td>
        <td><%= link_to referral.status, referral_path(referral.id), class: "#{referral.status}-stat" %></td>
        <td><%= link_to "Update", edit_referral_path(referral.id), class: "btn btn-primary"%> </td>
      </tr>
      <%end%>
    </table>
  </div>
  <%= will_paginate @sent_referrals%>
</div>

