<div class="page page-table">
  <div class="panel panel-default">
  <div class="panel-heading"><strong><span class="fa fa-th"></span>

  <strong> Sent Referrals</strong>

  </div>
    <table class="table">
      <tr>
        <th>Company</th>
        <th>Job</th>
        <th>Candidate</th>
        <th>Referral Fee</th>
        <th>Last Updated</th>
        <th>Status</th>
      </tr>
      <% @sent_referrals.each do |referral| %>
      <tr>
        <td><%= referral.job.name %></td>
        <td><%= referral.job.job_name %></td>

        <td><%= referral.referral_name %></td>
        <!-- need to change the way class is entered -->
        <td class="#{referral.is_interested}-stat"><%= number_to_currency(calculate_fee(referral.job.referral_fee), precision: 0)  %></td>
        <td class="#{referral.is_interested}-stat"><%= time_ago_in_words(referral.updated_at) %></td>
        <td><%= referral.status %></td>

      </tr>
      <%end%>
    </table>
  </div>
</div>
