<%= render 'layouts/header' %> 

 
<section class="jobs">
<div class="container">

<div class="page page-table">

    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="fa fa-th"></span> Job Postings</strong></div>
        <table class="table">
  <tr>
    <th>Company Name</th>
    <th>Job Name</th>
    <th>City</th>
    <th>State</th>
    <th>Skills</th>
    <th>Referral Fee</th>
  </tr>
 
  <% @jobs.each do |job| %>
    <tr>
      <td><%= link_to job.name, "/jobs/#{job.id}" %></td>
      
      <td><%= link_to job.job_name, "/jobs/#{job.id}" %></td>
       
      <td><%= job.city %></td>
      
      <td><%= job.state %></td>
      
      <td><%= job.speciality_1 %></td>
      
      <td><%= job.referral_fee %></td>
    </tr>
  <% end %>
</table>
</div>
</div>
</div>
</div>
</section>
<%= render 'layouts/footer' %> 