
<%= render 'layouts/header' %>

<section class="jobs">

  <div class="container">
    <%= render 'layouts/flash' %>
    <div class="page page-table" data-ng-controller="tableCtrl">

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="form-inline" role="form">
            <div class="form-group">
              <span class="fa fa-th"></span> Job Postings <%= search_form_for @search do |f| %>
            </div>
            <div class="form-group">
                <%= f.text_field :name_or_job_name_or_city_or_state_cont, :placeholder => 'Search', style: "color: #2c3e50; " %>
            </div>
            <div class="form-group">
                <%= f.submit "Search", :class => 'btn btn-default' %>
            </div>

            <% end %>

            <div class="form-group">
              <%= button_to "Reset Search", request.path, :class =>'btn btn-default',:method => :get %>
            </div>

            <div class="form-group pull-right">
              <% if @has_ref %>
                <% if current_admin.nil? %>
                  <%= button_to " #{@unreviewed_requests} Requests Pending Review", user_path(current_user.id),:method => :get,:class =>'btn btn-danger pull-right' %>
                <% else %>
                  <%= button_to "#{@unreviewed_requests} Requests Pending Review", admin_path(current_admin.id),:method => :get,:class =>'btn btn-danger pull-right' %>
                <% end %>

              <% end %>
            </div>
        </div>
      </div>

        <table class="table">
         <thead>
          <tr>
            <th><%= sort_link @search, :name, "Company Name" %></th>
            <th><%= sort_link @search, :job_name, "Position" %></th>
            <th><%= sort_link @search, :city, "City" %></th>
            <th><%= sort_link @search, :state, "State" %></th>
            <th><%= sort_link @search, :referral_fee, "Referral Fee" %></th>
          </tr>
        </thead>

        <tbody>
          <% @jobs.each do |job| %>
          <tr >
            <td>
              <% if job.company.image_url(:thumb).nil? %>
                <%= job.company.name %>
              <% else %>
                <%= image_tag "job.company.image_url(:thumb)", :alt => "#{job.company.name}" %>
              <% end %>
            </td>

            <td ><%= link_to job.job_name, job_path(job.id) %></td>
            <td><%= job.city %></td>
            <td><%= job.state %></td>
            <td><%= number_to_currency(calculate_fee(job.referral_fee), precision: 0) %></td>
          </tr>

          <% end %>

          </tbody>

        </table>
    </div>
  </div>
  <%= will_paginate @jobs%>
</div>
</section>


