<%= render 'layouts/header' %> 

 
<section class="jobs">
<div class="container">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-lg" %> <%= link_to "sign in", new_user_session_path, class: "btn btn-default btn-lg" %>
    <% end %>
<div class="page page-table">

    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="fa fa-th"></span> Job Postings</strong></div>
        <table class="table">
  <tr>
    <th>Company Name</th>
    <th>Job Name</th>
    <th>City</th>
    <th>State</th>
    <th>Skills</th>
    <th>Referral Fee</th>
  </tr>
 
  <% @jobs.each do |job| %>
    <tr>
      <td><%= link_to job.name, "/jobs/#{job.id}" %></td>
      
      <td><%= link_to job.job_name, "/jobs/#{job.id}" %></td>
       
      <td><%= job.city %></td>
      
      <td><%= job.state %></td>
      
      <td><%= job.speciality_1 %></td>
      
      <td><%= job.referral_fee %></td>
    </tr>
  <% end %>
</table>
</div>
</div>
</div>
</div>
</section>
<%= render 'layouts/footer' %> 