<div class="col-md-4 col-md-offset-4">
  <div class="form-container">

    <div class="login-form">
      <div>
        <strong>Company Name:</strong>
        <%= @job.name %>
      </div>

      <div>
        <strong>Job:</strong>
        <%= @job.job_name %>
      </div>

      <div>
        <strong>Referral Fee:</strong>
        <%= @job.referral_fee %>
      </div>

      <div>
        <strong>Location:</strong>
        <%= @job.city %>
        <%= @job.state %>
      </div>

      <div>
        <strong>Speciality 1:</strong>
        <%= @job.speciality_1 %>
      </div>

      <div>
        <strong>Speciality 2:</strong>
        <%= @job.speciality_2 %>
      </div>

      <div>
        <strong>Description:</strong>
        <%= @job.description %>
      </div>

      <%= link_to "Refer", new_referral_path(job_id: @job.id, ref_type: "refer" ) %>

      <%= link_to 'Ask to be Referred', new_referral_path(job_id: @job.id, ref_type: "ask_ref")%>

      <%= link_to 'Back', jobs_path %>
      <% if !current_admin.nil? %>
        <% if current_admin.id == @job.admin_id %>
          <%= link_to 'Edit', edit_job_path%>
        <% end %>
      <% end %>
    </div>
  </div>
</div>