<%= render 'layouts/headerjob' %>

<section class="jobs">
  <div class="container" style="margin-top:40px">
    <div class="col-md-12">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading"><h2 class="panel-referal">
             <%= @job.job_name %> - <%= @job.name %> </h2>
          </div>
          <div class="panel-body">
            <div class="login-form">
              <div class="details-section">
                 <strong>About <%= @job.name %></strong>
              </div>
              <div class="details-section">
                <strong>Location:</strong>
                <%= @job.city %>
                <%= @job.state %>
              </div>
              <div class="details-section">
                <strong>Description:</strong>
                <%= @job.description.gsub(/\n/, '<br/>').html_safe %>
              </div>
              <div class="details-section_end">
                <strong>Skills</strong>
                <%= @job.speciality_1 %>
              </div>
              <div class="details-section">
              <% if @status %>
                <%= link_to 'EDIT JOB', edit_job_path(@job.id), :class => 'Refer_Button'%>

              <% else %>
                <%= link_to 'ASK TO BE REFERRED', new_referral_path(job_id: @job.id, ref_type: "ask_refer"),:class => 'Refer_Button'%>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default center">
          <div class="panel-heading"><h2 class="panel-referal"><strong>Referral Fee:</strong>
             <%= number_to_currency(calculate_fee(@job.referral_fee), precision: 0)  %></h2>
          </div>
          <div class="panel-body">
            <%= render 'referrals/shared/referral_form'%>
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

      <!-- <div class="panel-body"> -->
