  <%= render 'layouts/headerjob' %>
  <%= render 'layouts/flash' %>

<section class="jobs">
  <div class="container" style="margin-top:40px">
    <div class="col-md-12">
      <div class="col-md-8">
        <div class="panel panel-primary">
          <div class="row jobrowshow">
            <div class="col-md-12">
              <div class="job_title"><%= @job.job_name %></div>
              <div class="inline">
                <%= link_to @job.company.name, company_path(@job.company.id) %>
                <%= link_to @job.company.url%>

              </div>
              <div class="location"><i class="fa fa-map-marker"></i>&nbsp
                <%= @job.city %>, <%= @job.state %>
              <ul class="list-inline pull-right">
                <li>
                  <% current_ipf_param %>
                  <a class="social-share" data-url="<%=share_url%>" data-title="FB Share" data-desc="FB Share Popup" data-height="300" data-width="520" data-share="facebook"><i class="fa fa-facebook fa-lg"></i>
                  </a
                  >
                </li>
                <li>
                  <a class="social-share" data-url="<%=share_url%>" data-title = "Check Out This New Job" data-descr="Twitter Share Popup" data-height="300" data-width="520" data-share="twitter"><i class="fa fa-twitter fa-lg"></i></a>
                </li>
                <li>
                  <a class="social-share" data-url="<%=share_url%>" data-title = "Check Out This New Job" data-descr="LinkedIn Share Popup" data-height="300" data-width="520" data-share="linkedin"><i class="fa fa-linkedin fa-lg"></i></a>
                </li>
              </ul>
              <!-- <div class="description hidden-xs"><%= replace_line_br(@job.description) %></div> -->
            </div>
          </div>
            <!-- <div class="col-xs-12 col-sm-12 col-md-8 col-lg-3"> -->

            <!-- </div> -->

            <div class="panel-body">
              <div class="login-form">
                <div class="details-section">
                  <strong>Location:</strong>
                  <%= @job.city %>
                  <%= @job.state %>
                </div>
                <div class="details-section">
                  <strong>Description:</strong>
                  <%= replace_line_br(@job.description) %>
                </div>
                <div class="details-section">
                  <strong>Skills:</strong>
                  <%= @job.speciality_1 %>
                </div>
                <% if correct_admin?(@job) %>
                  <div class="detail-section">
                  <%=link_to 'Edit Job', edit_job_path, class: "btn btn-primary" %>

                  <%=link_to 'Delete Job', @job, :method => :delete, confirm: "Are you sure?",class: "btn btn-primary" %>
                  </div>
                <% end %>
              <div class="detail-section">

            </div>

                <div class="details-section_end">
                </div>
<!-- >>>>>>> 0335a7cc3850ac8e2b062e09df63f58fcad0d0cc -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary center">
          <div class="panel-heading ">
            <h2 class="panel-referal"><strong>Make a Referral</strong>
            </h2>
            <div class='referral-font'><%= number_to_currency(calculate_fee(@job.referral_fee), precision: 0)%>
            </div>
          </div>
          <div class="panel-body">
              <%= render 'referrals/shared/referral_form'%>
          </div>
        </div>

        <div class="panel panel-primary center">
          <div class="panel-heading ">
            <h2 class="panel-referal"><strong>Apply yourself</strong></h2>
          </div>
          <div class="panel-body">
            <div class="form-group">
             <% if @status %>
                <%= link_to 'EDIT JOB', edit_job_path(@job.id), :class => 'btn btn-primary'%>

              <% else %>
                <%= link_to 'APPLY', new_referral_path(job_id: @job.id, ref_type: "ask_refer"),:class => 'btn btn-primary'%>
              <% end %>
            </div>
          </div>
        </div>
      </div>

<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "14b2fecf-2857-4e86-942e-495c4c74f924", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

      </div>
    </div>
  </div>
</section>


      <!-- <div class="panel-body"> -->


