<%= form_for @whitelist do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <br>
    <%= f.label 'Access Level- Default is User' %>
    <%= f.select :level, level_access %>
  <div>
    <%=f.submit 'Update'%>
  </div>

<% end %>