<%= render 'layouts/header' %>
<section class="jobs">
  <div class="container">
    <ul class="nav nav-tabs nav-justified">
      <%= render 'layouts/flash' %>
      <li class="active"><a href="#received-referrals" class="tab-font" data-toggle="tab"> Received Referrals
        <% if @hav_ref %>
          <%= " - #{@unreviewed_count} Awaiting Review"%>
        <% end %>
      </a></li>
      <li class=""><a href="#sent-referrals" class="tab-font"data-toggle="tab">Sent Referrals</a></li>
      <li class=""><a href="#ask-referrals" class="tab-font" data-toggle="tab"> Requested Referrals </a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade active in" id="received-referrals">
        <%= render 'users/shared/received_referrals'%>
      </div>

      <div class="tab-pane fade" id="sent-referrals">
        <%= render 'users/shared/sent_referrals'%>
      </div>

      <div class="tab-pane fade" id="ask-referrals">
        <%= render 'users/shared/ask_referrals'%>
      </div>

    </div>
  </div>
  <%= render 'layouts/footer_sticky' %>
</section>

</br>

