<div>Hello <%=@referee_name%>, </div>

<div>
  <%=@requester_FN%> <%=@requester_LN%> has requested your referral for <%= @job.name%>.
</div>

<br>

<div>
  If your candidate is selected for this role, you will receive a referral fee.
</div>

<br>

<div>
  Please follow the link to view the job description and you can refer this candidate from there.
  <%=link_to 'Connect with LinkedIn', url_for(controller: 'home', action: 'index', only_path: false)%>
</div>

<br>

<div>
  Thank You,
</div>
<div>
  WeKrüt Team!
</div>