<div>Hello <%=@admin_name.titleize%>, </div>

<div>
  <%=@sender_first_name.titleize%> <%=@sender_last_name.titleize%> provided a referral for <%=@job_name%>.
</div>

<div>
  Please take a look at the referral information
  <%=link_to 'Referral Link', url_for(controller: 'referrals', action: 'show', id: @referral_id, only_path: false)%>
</div>

<div>
  Thank You,
</div>

<div>
  WeKrüt Team!
</div>