<div>Hello <%=@admin_FN.titleize%> <%=@admin_LN.titleize%>, </div>

<div>
  You received a new referral for <strong> <%= @job.job_name.titleize%> </strong> position. <%=@referral.referral_name%>  has indicated interest in this position.
</div>

<br>

<div>
  Follow the link to view the referral.
  <br>

  <!-- TODO CHANGE LINK -->
  <%=link_to 'Sign Up/Sign', url_for(controller: 'admins/registrations', action: 'new', only_path: false)%>
</div>

<br>

<div>
  Thank You!
</div>
<br>
<div>
  WeKrüt Team
</div>


