<div>Hello <%=@receiver_name.titleize%>, </div>

<div>
  <%=@sender_first_name.titleize%> <%=@sender_last_name.titleize%>, copied here, has referred you for a <%=@referral.job.job_name%> position at <%=@referral.job.name%>.
</div>

<div>
  If you indicate that you are interested in the position, the referral will be reviewed by the recruiter.
</div>

<br>

<div>
  Follow the link to sign up and complete your referral profile to be submitted. Please find the job description below.
  <br>
  <%=link_to 'Referral Link', url_for(controller: 'home', action: 'index', only_path: false)%>
</div>

<br>

<div>
  Thank You,
</div>
<br>
<div>
  WeKrüt Team!
</div>
<br>
<div>
Job Description
</div>
<br>
<div>
<%=@job.description%>
</div>


