<div>Hello <%=@referee_name.titleize%>, </div>

<div>
  <%=@requester_FN.titleize%> <%=@requester_LN.titleize%> has requested your referral for <%= @job.name.titleize%>.
</div>

<br>

<div>
  If your candidate is selected for this role, you will receive a referral fee of <%=number_to_currency(@job.referral_fee, precision: 0)%> dollars.
</div>

<br>

<div>
  Please follow the link to view the job description and you can refer this candidate from there.
  <%=link_to 'Home Page', url_for(controller: 'home', action: 'index', only_path: false)%>
</div>

<br>

<div>
  Thank You,
</div>
<div>
  WeKrüt Team!
</div>