<div>Hello <%=@sender_first_name%> <%=@sender_last_name%>, </div>
<br>
<div>
  Your referral generated a successful placement for <%=@referral.name%> at <%=@job.company.name%> You are entitled to your referral fee of <%=@job.referral_fee%> which will be fulfilled by the company within 30 days.
</div>

<br>

<div>
    Come back and continue your activities and help generate more successful placements!
    <a href="www.wekrut.com">www.wekrut.com</a>
</div>

<div>
  Thank You!
</div>
<br>
<div>
  WeKrüt Team
</div>