<%= content_tag(:div, flash.now[:notice], :id => "flash_notice") if flash.now[:notice] %>

<h2>
  Beta Sign Up:
</h2>

<%= content_tag(:div, flash.now[:error], :id => "flash_error") if flash.now[:error] %>

<%= form_tag(send_request_path) do %>
  <div class="form-group">
      <%= email_field_tag 'email', nil, class: 'form-control', placeholder: 'Email Address' %>
  </div>
  <div class="form-group">
      <%= text_field_tag 'linked_in', nil, class: 'form-control', placeholder: 'LinkedIn URL' %>
  </div>
 <%= submit_tag nil, class: 'btn btn-default btn-about' %>

<% end %>