<div>
  Beta Sign Up
</div>

<%= render 'layouts/flash' %>

<%= form_tag(send_request_path) do %>
  <div class="form-group">
      <%= text_field_tag 'name', nil, class: 'form-control', placeholder: 'Name' %>
  </div>
  <div class="form-group">
      <%= email_field_tag 'email', nil, class: 'form-control', placeholder: 'Email Address' %>
  </div>
  <div class="form-group">
      <%= text_field_tag 'linked_in', nil, class: 'form-control', placeholder: 'LinkedIn URL' %>
  </div>
 <%= submit_tag nil, class: 'btn btn-default btn-about' %>

<% end %>