<%= render 'layouts/header' %>
  <section class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="brand-heading">Empower Your Network</h2>
                        
                        <div class="page-scroll">
                            <a href="#about" class="btn btn-circle">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <section id="about">

    <div class="container about-section text-center">
      <div class="col-md-4">

        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">networking</h2>
        <%= image_tag "triangle.png", :class => "img-responsive" %>
        <h3 class="lead"> We connect you to companies. <br>
          You connect your network to jobs.</h3>


      </div>





      <div class="col-md-4 ">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">We Show You Jobs</h2><br><br><%= image_tag "imac_jobs.png", :class => "img-responsive" %><br><br>
          <h3 class="lead"> Search available jobs. Know someone that would be a good fit? Krüt them.</h3>


      </div>




        <div class="col-lg-4">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Incentivize Altruism</h2><%= image_tag "heartdollar.png", :class => "img-responsive" %>
          <h3 class="lead">
           Place a candidate and in 30 days you get a referal fee. Do well by doing good. </h3>




         </div>

       </div>


     </section>


     <div class="banner">

      <div class="container">

        <div class="col-lg-6">
          <h2>Connect to WeKrüt:</h2>
        </div>
        <div class="col-lg-6 pull-right">
          <ul class="list-inline banner-social-buttons">
            <li><a href="https://twitter.com/wekrut" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
            </li>
            <li><a href="https://www.facebook.com/wekrut" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
            </li>

          </ul>
        </div>
      </div>


      <!-- /.container -->

    </div>



  <%= render 'layouts/footer' %>


