   <%= render 'layouts/header' %>
   <section class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="brand-heading">Empower Your Network</h2>
                        
                        <div class="page-scroll">
                            <a href="#about" class="btn btn-circle">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section id="about">


  <div class="about-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Empower your network
              <br>Get Paid</h2>
          <p class="lead">We incentivize altruism. Connect your network to jobs and recieve the referral fee. 
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6"><%= image_tag "triangle.png", :class => "img-responsive" %>
        </div>
      </div>
    </div>
  </div>
    

  <div class="white-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix">
          </div>
            <h2 class="section-heading">We Show You the Jobs</h4>
            <p class="lead"> Search available jobs. Know someone that would be a good fit? Krüt them.</p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                   <%= image_tag "imac_jobs.png", :class => "img-responsive" %>
        </div>
      </div>
    </div>
  </div>


  <div class="about-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Incentivize Altruism</h2>
            <p class="lead">
           Receive a fee if your referral is hired. </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <%= image_tag "heartdollar.png", :class => "img-responsive" %>
        </div>
      </div>
    </div>
  </div>
</section>


    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect to WeKrüt</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li><a href="https://twitter.com/wekrut" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                
                        <li><a href="https://www.facebook.com/wekrut" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
       

        <!-- /.container -->

    </div>

        <%= render 'layouts/footer' %>


