
<nav class="navbar-home navbar-fixed-top" role="navigation">

 <div class="container">
   <div class="navbar-header page-scroll">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
       <i class="fa fa-bars"></i>
     </button>
     <a class="navbar-brand" href="http://www.wekrut.com">
       <span class="light">&nbsp&nbsp&nbspWe</span>Krüt
     </a>
   </div>

   <!-- Collect the nav links, forms, and other content for toggling -->
   <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
     <ul class="nav navbar-nav">
       <!-- Hidden li included to remove active class from about link when scrolled up past about section -->

     </li>
     <li class="page-scroll">
       <a href="#about">About</a>
     </li>
     <li class="page-scroll">
      <%= link_to 'Jobs', jobs_path %>
    </li>
    <li class="page-scroll">
                  <% if !user_signed_in? && !admin_signed_in? %>
                    <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Login<b class="caret"></b></a>
                      <ul class="dropdown-menu">
                       <li><%= link_to "User", new_user_session_path %></li>
                       <li><%= link_to "Recruiter", new_admin_session_path %></li>
                      </ul>
                    </li>
                  <% else %>
                    <li class="dropdown">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        ACCOUNT
                        <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                        <li class="dropdown-menu">
                          <% if user_signed_in? %>
                            <li> <%= link_to 'My Referrals', user_path(current_user.id)%> </li>
                            <li> <%= link_to "User Sign out", destroy_user_session_path, :method => :delete %> </li>
                          <% else admin_signed_in? %>
                            <li> <%= link_to 'My Referrals', admin_path(current_admin.id) %> </li>
                            <li> <%= link_to "Recruiter Sign out", destroy_admin_session_path, :method => :delete %> </li>
                          <% end %>
                        </li>
                      </ul>
                    </li>
                <% end %>
              </li>
 </div>
</div>
</nav>
  <section class="intro">

    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="brand-heading">Get Paid<br>For<br> Referrals</h2>

                    <!-- Button trigger modal -->

<%= link_to 'CONNECT WITH LINKEDIN', user_omniauth_authorize_path(:linkedin),class: "btn-linkedin btn-lg" %>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="container" style="margin-top:160px">

  

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>

      <div class="modal-body">
        <%= render 'home/beta_form' %>
      </div>
     </div> 
    </div>
  </div>
</div>
<br>
<br>

<button class="btn btn-default btn-about btn-lg" data-toggle="modal" data-target="#myModal2">
  &nbsp&nbspInvite Your Company&nbsp&nbsp

</button>
 <%= content_tag(:div, flash.now[:notice], :id => "flash_notice") if flash.now[:notice] %>

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="container" style="margin-top:160px">

  

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>

      <div class="modal-body">
        <%= render 'home/company_form' %>
      </div>
     </div> 
    </div>
  </div>
</div>
                        
                        <div class="page-scroll">
                            <a href="#about" class="btn btn-circle">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                </div>
            </div>
        </div>

    </div>
  </section>
  <section id="about">

    <div class="container about-section text-center">
      <div class="col-md-4 ">
        <div class="clearfix"></div>
        <%= image_tag "imac_jobs.png", :class => "img-responsive center-block" %>
        <h3>Search Through<br>Great jobs</h3>
      </div>
      <div class="col-md-4">
      
        <div class="clearfix"></div>
        <%= image_tag "triangle.png", :class => "img-responsive center-block" %>
        <h3>Refer Your<br>Network</h3>
      </div>
      <div class="col-md-4">
      
        <div class="clearfix"></div>
       <%= image_tag "heartdollar.png", :class => "img-responsive center-block" %>
       <h3>They Get Hired<br>You Get Paid</h3>
      </div>
    </div>
  </section>


  <div class="banner">

    <div class="container"> 
     <div class="span6">
        <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
        <iframe src="//www.youtube.com/embed/l9FHhl4hg7k?autoplay=0&controls=2&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe> 
        </div>   
                    
      </div>
          
        
    </div>

  </div>
</div>



  <%= render 'layouts/footer' %>


