  <%= render 'layouts/headerjob' %>
  <section class="companies">
    <div class="container" style="margin-top:40px">
      <div class="col-md-12">
        <% @user_profiles.each do |user|%>
          <div class="col-md-4">
            <div class="panel panel-default company equal-height"%>
              <div class="panel-heading"><h2 class="panel-referal">
                 <%= user.first_name %>
                 <%= user.last_name %>
                 <%= user.location %>
              </div>
              <div class="panel-body">
                <div class="login-form">
                  <div class="details-section">
                    <strong>Industry:</strong>
                    <%= user.industry %>
                  </div>
                  <div class="details-section">
                    <% unless user.educations.nil? %>
                    <strong>Position:</strong>
                    <%= user.positions[0]["company"]["name"] %> -
                    <%= user.positions[0]["title"] %>
                  </div>
                  <% end %>
                  <div class="details-section">
                    <strong>Education:</strong> <br>
                    <% unless user.educations.nil? %>
                    <%= user.educations[0]["schoolName"]  %>
                    <br>
                    <strong>Field of Study: </strong> <br>
                    <%= user.educations[0]["fieldOfStudy"] %>
                  </div>
                  <% end %>
                  <div class="details-section">
                    <strong>Skills:</strong>
                    <% user.skills.each do |skill| %>
                      <%= skill + "," %>
                    <% end %>
                  </div>

                  <div class="details-section">
                    <strong>LinkedIn URL:</strong>
                    <%= user.public_profile_url %>
                  </div>
                    <div class="details-section_end">
                  </div>
                </div>
              </div>
            </div>

        </div>
          <% end %>
      </div>

</section>
