<%= render 'layouts/header' %>


<div class="container" style="margin-top:160px">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
     <%= render 'layouts/flash' %>
      <div class="panel-heading"><h3 class="panel-title"><strong>New Invitation</strong></h3></div>
        <div class="panel-body">

          <div class="col-md-6">
             <%= image_tag "heartdollar100.png", :class => "img-responsive" %>
             <div class="rfont">  Share the love. </div> 
          </div>
          
<br>
          <div class="col-md-6">
            <div class="login-form">
              <%= form_for @invitation do |f| %>
          
              <div class="form-group">
                <%= f.label :invited_email, "Invite Your Friends" %><br>
                <%= f.text_field :invited_email, :placeholder => 'Enter Emails', :multipe => true, :class => 'form-control login-field' %>
              </div>

              <div>
                <%= f.submit "Submit to Wekrut", :class => 'btn btn-primary btn-md btn-block' %>
              </div>
            </div>

              <% end %>
          </div>
         

      </div>
    </div>
  </div>
</div>



            <%= render "layouts/footer_sticky" %>