<div>Ask To Be Krüted </div>

<%= content_tag(:div, flash.now[:error], :id => "flash_error") if flash.now[:error] %>

<%= form_for :referral, url: referrals_path do |f| %>
  <!-- add logic for referral_name and referral_email -->
  <div>
    <%= f.label "Your Name" %><br>
    <%= f.text_field :referral_name, value: @your_name %>
  </div>

   <div>
    <%= f.label "Your Email" %><br>
    <%= f.text_field :referral_email %>
  </div>

   <div>
    <%= f.label "Your LinkedIn Profile URL" %><br>
    <%= f.text_field :linked_profile_url %>
  </div>

   <div>
    <%= f.label "Your GitHub Profile URL" %><br>
    <%= f.text_field :github_profile_url %>
  </div>


   <div>
    <%= f.label "Who would you like to ask for a referral?" %><br>
    <%= f.text_field :referee_name, required: "required" %>
  </div>

   <div>
    <%= f.label "What is their email?" %><br>
    <%= f.text_field :referee_email %>
  </div>

  <div>
    <%= f.label "Send a personal note" %><br>
    <%= f.text_field :personal_note %>
  </div>

<div class="form-group">
          <label> Relationship? </label>
          <row> <%= f.select :relationship, relationship_choices %></row>
        </div>


   <div>
    <%= f.hidden_field :ref_type, value: @ref_type %>
    <%= f.hidden_field :job_id, :value => @job.id%>
  </div>

  <div>
    <%= f.submit "Submit to Wekrut" %>
  </div>
<% end %>