




<table class="table">
  <tr>
    <th>Referral Type</th>
    <th>Company Name</th>
    <th>Job Name</th>
    <th>Referral Status</th>
    <th>Referral Name</th>
    <th>Referral Email</th>
    <th>Referee Name</th>
    <th>Referee Email</th>
    <th>Referral Interest </th>
    <th>Referral Relationship</th>
    <th>Owner Id</th>
  </tr>

  <% @referrals.each do |referral| %>
    <tr>
      <td><%= referral.ref_type %></td>
      <td><%= referral.job.name %></td>
      <td><%= referral.job.job_name %></td>
      <td><%= referral.status %></td>
      <td><%= referral.referral_name %></td>
      <td><%= referral.referral_email %></td>
      <td><%= referral.referee_name %></td>
      <td><%= referral.referee_email %></td>
      <td><%= referral.is_interested %></td>
      <td><%= referral.relationship %></td>
      <td>
        <% if referral.admin_id.nil? %>
          <%= referral.user_id %>
        <% else %>
          <%= referral.admin_id %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>