<%=@job.name%>

<%= form_for :referral, url: referrals_path do |f| %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

   <div>
    <%= f.label :referral_name %><br>
    <%= f.text_field :referral_name %>
  </div>

   <div>
    <%= f.label :referral_email %><br>
    <%= f.text_field :referral_email %>
  </div>

  <div>
    <%= f.label :relationship %><br>
    <%= f.text_field :relationship %>
  </div>

   <div>
    <%= f.hidden_field :job_id, :value => @job.id%>
  </div>

  <div>
    <%= f.submit "Submit to Wekrut" %>
  </div>
<% end %>