<%= form_for :referral, url: referrals_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

   <p>
    <%= f.label :referral_name %><br>
    <%= f.text_field :referral_name %>
  </p>

  <p>
    <%= f.submit "Submit to Wekrut" %>
  </p>
<% end %>