<%= form_for :referral, url: referrals_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :referral_name %><br>
    <%= f.text_area :referral_name %>
  </p>
  <p>
    <div><%= f.label :relationship %><br />
    <%= f.select :relationship, relationship_choices %></div>
  <p>
     <%= f.label :referral_email %><br>
    <%= f.text_area :referral_email %>
     </p>

       <p>
     <%= f.label :additional_details %><br>
    <%= f.text_area :additional_details %>
     </p>

       <p>
     <%= f.label :linked_profile_url %><br>
    <%= f.text_area :linked_profile_url %>
     </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>