<%= form_for :referral , url: referral_path do |f| %>
<p>
  <strong>Referral Name:</strong>
  <%= @referral.referral_name %>
</p>

<p>
  <strong>Referral Email:</strong>
  <%= @referral.referral_email %>
</p>

 <p>
 	<%= link_to "Linked", @referral.linked_profile_url %>
</p>

<p>
  <strong>Referred by:</strong>
  <%= @referral.name %>
  <%= @referral.relationship %>
</p>
 

<p>
   <%= f.label :status %><br>
  <%= f.select :status, status_choices %>
</p>
<p>
    <%= f.submit "Update Status" %>
  </p>
<% end %>


<%= link_to 'Back', jobs_path %>