<%= render 'layouts/flash' %>

<div>
<strong>Name:</strong>
<%= @referral.name %>
</div>

<div>
  <strong>Referral Name:</strong>
  <%= @referral.referral_name %>
</div>

<div>
  <strong>Referral Email:</strong>
  <%= @referral.referral_email %>
</div>

<%= link_to 'Back', jobs_path %>
</div>