<%= render 'layouts/flash' %>
<%= render 'layouts/headerjob' %>

<div class="container" style="margin:140px">
  <div class="row"><div class="col-lg-12">
    <div class="col-md-8 col-md-offset-1">
      <div class="candidate">
      
        <div class="person_header">
          <strong>Referral Name:</strong>
          <%= @referral.referral_name %>
        </div>
        <div class="details-section">
          <strong>Referred by:</strong>
          <%= @referral.relationship %>        
        </div>
        <div class="details-section">
          <strong>Referral Email:</strong>
          <%= @referral.referral_email %>
        </div>
        <div class="details-section">
          <strong>LinkedIn Profile:</strong>
          <%= @referral.linked_profile_url %>
        </div>
        <div class="details-section">
          <strong>GitHub Profile:</strong>
          <%= @referral.github_profile_url %>
        </div>

        <div class="details-section">
          <strong>Status:</strong>
          <%= @referral.status %>
        </div>

          <div class="details-section_end">

<%= link_to 'Back', session[:return_to] %>
<%= link_to 'Edit', edit_referral_path %>
</div>


  </div>
</div>

<% if @my_status == "Receiver-A" %>
  <%= render 'referrals/shared/show_receiver_admin' %>
<% elsif @my_status == "Receiver-U" %>
  <%= render 'referrals/shared/show_receiver_user' %>
<% else %>
  <%= render 'referrals/shared/show_sender' %>
<% end %>




