<%= form_for :referral , url: referral_path do |f| %>
<p>
  <strong>Referral Name:</strong>
  <%= @referral.referral_name %>
  <strong>Referred By:</strong>
  <%= @referral.relationship %>
</p>

<p>
  <strong>Referral Email:</strong>
  <%= @referral.referral_email %>
</p>

 <p>
 	<%= link_to "LinkedIn", @referral.linked_profile_url %>
</p>

 <p>
  <%= link_to "GitHub", @referral.github_profile_url %>
</p>

<p>
   <%= f.label :status %><br>
  <%= f.select :status, status_choices %>
</p>
<p>
   <%= f.label "Is this Candidate Relevant?" %><br>
  <%= f.select :relevance, relevance_choices %>
</p>
<p>
    <%= f.submit "Update Status" %>
  </p>
<% end %>


<%= link_to 'Back', admins_path %>