RECEIVER USER EDIT FORM

<div> Referral from <%= @referrer_FN.titleize %> <%= @referrer_LN %>
</div>

<%= render 'layouts/flash' %>

<%= form_for :referral do |f| %>
  <div>
    <%= f.label "Your Name" %><br>
    <%= f.text_field :referral_name %>
  </div>

  <div>

    <%= f.label "Your Email" %><br>
    <%= f.text_field :referral_email %>
  </div>


<div>

    <%= f.label "What is their LinkedIn Profile URL" %><br>
    <%= f.text_field :linked_profile_url %>
  </div>

   <div>
    <%= f.label "What is their GitHub Profile URL" %><br>
    <%= f.text_field :github_profile_url %>
  </div>

  <div class="form-group">
    <label> Relationship? </label>
    <row>
      <%= f.select :relationship, relationship_choices %>
    </row>
  </div>

  <div class="form-group">

    <%= f.label "Are you interested?" %><br>
    <row>
      <%= f.check_box :is_interested, value: true%> Yes
      <%= f.check_box :is_interested, value: false%> No
    </row>
  </div>

   <div>
    <%= f.hidden_field :job_id, :value => @job.id%>
    <%= f.hidden_field :ref_type, value: @ref_type %>
  </div>

  <div>
    <%= f.submit "Submit to Wekrut" %>
  </div>
<% end %>