<%= form_for :referral, url: referrals_path, method: :post do |f| %>
  <div class="form-group">
    <%= f.label "Who would you like to refer?" %><br>

    <%= f.text_field :referral_name, :placeholder => 'Enter Referral Name', :required => true, :class => 'form-control login-field' %>
  </div>

  <div class="form-group">
    <%= f.label "What is their email?" %><br>
    <%= f.email_field :referral_email, :placeholder => 'Can be found in LinkedIn Contact Info', :required => true, :class => 'form-control login-field' %>
  </div>

  <div class="form-group">
     <label> Relationship? </label> <br>
     <row> <%= f.select :relationship, relationship_choices %></row>
  </div>

  <div class="form-group">
     <label> Are you an employee of <%="#{@job.name}"%>? </label>
     <row> <%= f.select :is_employee, employee_choices %></row>
  </div>


  <div class="form-group">
    <%= f.submit "Submit to Wekrut", :class => "btn btn-primary" %>
  </div>



  <div>
   <%= f.hidden_field :job_id, :value => @job.id%>
   <%= f.hidden_field :ref_type, value: @ref_type %>
  </div>

<% end %>




