RECEIVER ADMIN VIEW

<div>
  <strong>Referral Name:</strong>
  <%= @referral.referral_name %>
</div>

<div>
  <strong>Referred by:</strong>
  <%= @referral.relationship %>
</div>

<div>
  <strong>Referral Email:</strong>
  <%= @referral.referral_email %>
</div>

<div>
  <strong>LinkedIn Profile:</strong>
  <%= @referral.linked_profile_url %>
</div>

<div>
  <strong>GitHub Profile:</strong>
  <%= @referral.github_profile_url %>
</div>

<div>
  <strong>Status:</strong>
  <%= @referral.status %>
</div>