<% @sorted_referrals.each do |referral| %>
     <a href="/jobs/#{job.id}">
       <div class="row jobrow">
       <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">   

       <div class="location"><%= link_to referral.job.job_name, edit_referral_path(referral.id) %></div>
         <div class="description hidden-xs"><%= referral.job.referral_fee %></div>            
       </div>
       <div class="col-xs-12 col-sm-12 col-md-8 col-lg-5">
         <div class="job_title"><%= link_to referral.referral_name, edit_referral_path(referral.id) %></div>
       </div>  
       <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
         <div class="location">Last Updated:<br><%= time_ago_in_words(referral.updated_at) %></div>
       </div>

       <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3">
         
         <div class="btn btn-info"><%= referral.status.titleize %></div>
       </div>
     </div>
     <% end %>
   </a>
 </div>

